@import '@/styles/variables.less';

.user {
  .normal-flex(row, normal, center);

  .user-avatar {
    border-radius: 50%;
    margin-right: 10px;
  }

  .user-info {
    .user-name{
      color: #1d2129;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }

    .user-desc {
      color: #8a919f;
      font-size: 12px;
      font-weight: 400;
      line-height: 24px;
    }
  }
}