@import '@/styles/variables.less';

.catalog-list {
  position: relative;
  line-height: 22px;
  padding: 12px 0;
}

.item {
  position: relative;
  padding: 0 0 0 1.333rem;
  margin: 0 0 0.667rem;
  font-size: 14px;
  color: #1d2129;
  cursor: pointer;
}

.a-container {
  display: block;
  position: relative;
  padding: 0 0 0 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item.active {
  .a-container::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    margin-top: 7px;
    width: 4px;
    height: 16px;
    background: #1e80ff;
    border-radius: 0 4px 4px 0;
  }
  .catalog-aTag {
    color: #1e80ff;
  }
}

.catalog-aTag {
  display: inline-block;
  padding: 8px;
  color: inherit;
  .text-multi-ellipsis(1)
}